body {
    background-color: black;
    color-scheme: dark;

    color: white;
    font-family: Arial, Helvetica, sans-serif;

    user-select: none;
    -webkit-user-select: none;
    -moz-user-select: none;
}

header {
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    height: 80px;
    z-index: 1000;
    background-color: rgba(0, 0, 0, 0.5);
    backdrop-filter: blur(20px);
    -webkit-backdrop-filter: blur(20px);
}

#Logo {
    height: 100px;
    display: block;
    margin-top: -10px;
    margin-left: auto;
    margin-right: auto;
    pointer-events: none;
}

main {
    padding-top: 80px;
}

.blocks {
    background-color: #101010;
    border: 2px solid #202020;
    border-radius: 15px;
    padding: 10px;
    margin: 10px 5px 10px 5px;
}

.blockTitles {
    font-size: 20pt;
    display: inline-block;
    padding-bottom: 10px;

    background: linear-gradient(65deg, #b347e6, #81b5f9);
    background-clip: text;
    -webkit-text-fill-color: transparent;

    /* border: solid; */
}

.inputs {
    box-sizing: border-box;
    width: 100%;
    font-size: 18pt;
    border: 2px solid #202020;
    border-radius: 10px;
    padding: 5px;
}

#result {
    font-family: 'Courier New', Courier, monospace;
    text-align: center;

    pointer-events: none;
    user-select: none;
    -webkit-user-select: none;
    -moz-user-select: none;
}

#ComingSoon {
    width: 100%;
    max-width: 800px;
    display: block;
    padding-top: 60px;
    margin-left: auto;
    margin-right: auto;
    pointer-events: none;
}

.buttons {
    padding: 5px;
    font-size: 16px;
}

footer {
    position: absolute;
    left: 0;
    right: 0;
    /* bottom: 0; */
    height: 80px;

    padding-top: 100px;
}

#Copyright {
    color: rgb(87, 87, 87);
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
}

#GitHubLink {
    color: #9589F0;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
}